<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <!-- <link rel="preload" as="image" href="/img/myself.png"> -->
</head>

<body id="home">
    <%- include('./partials/navigation') %>
    <div id="line"></div>

    <header>
        <%- include('./partials/header') %>
    </header>

    <main>
        <%- include('./partials/projects') %>
    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>
    <script src="/js/main.js"></script>
</body>

</html>